/******************************************
GENERAL
******************************************/
body {
  background-color: 16262E;
}

header {
  border-bottom: 5px solid #9FA2B2;
}

body header a h1 {
  color: #2E8B57;
  text-align: center;
}

table {
  color: #2E8B57;
  text-align: center;
  margin: 2% auto;
  align-content: center;
  font-size: 150%;
}

table td,
table th {
  border:1px solid #FFF;
  border-color: #3C7A89;
}

table th {
  font-weight: bold;
  color: #AFEEEE;
}
