/******************************************
GENERAL
******************************************/
body {
  background-color: #16262E;
}

header {
  border-bottom: 5px solid #9FA2B2;
}

body header a h1 {
  font-family: 'changa one', sans-serif;
  color: #2E8B57;
  text-align: center;
  margin: 0;
  line-height: 0.8em;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

table {
  color: #2E8B57;
  text-align: left;
  margin: 2% auto;
  align-content: center;
  font-size: 150%;
}

table td,
table th {
  border:1px solid #FFF;
  border-color: #3C7A89;
}

table th {
  font-weight: bold;
  color: #AFEEEE;
}

img {
  float: none;
  clear: both;
  padding: 20px 0 0 70px;
  border: 0;
  position: absolute;
}

nav ul li a {
  font-size: 1.25em;
  float: left;
  padding: 20px;
  font-family: 'open sans', sans-serif;
}

td.notowned, tr.vaulted {
  background-color: red;
}

td.owned, tr.notvaulted {
  background-color: green;
}
